<div>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @blog.title %>
  </p>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= link_to 'Home', root_path %>
      <%= link_to @blog.topic.title, topic_path( @blog.topic) %>
      <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %></span>

      <span class="pull-right" >
        <%= link_to 'edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>      
      </span>     

    </ol>
  </nav>

  <p>
    <strong>Body:</strong>
    <%= markdown @blog.body %>
  </p>

  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
  <%= link_to 'Back', blogs_path %>
</div>


