<%= form_with(model: @portfolio_item, local: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h2>Technologies used</h2>
    <div>
      <%= f.fields_for :technologies do |technology_form| %>
          <%= render 'technology_fields', f: technology_form %>
      <% end %>
      <div>
        <%= link_to_add_association 'Add technology', f, :technologies %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  
<% end %>